*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: "Swiss", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efeded;
  /* background-color: lightcoral; */
}
.header-black{
  z-index: 100;
  width: 100%;
  height: 0.3rem;
  background-color: #231c19;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
   gap: 5px;
}
.hamburger-menu {
  display: none; 
  font-size: 2rem;
  cursor: pointer;
}
.home-section{
  position: relative;
  background: url('Home-section Images/bg-image.png');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* .home-section::before{
  background-color: rgba(0, 0, 0, 0.6);
} */
.navbar{
  height: 17vh;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: white;
}
.navbar .left-navbar{
  display: flex;
  flex-direction: column;
}
.navbar .left-navbar img{
  margin-left: 2rem;
  height: 11.7rem;
  width: 15rem;
  padding-left: 4rem;
  
}
.right-navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.4rem;
  width: 78vw;
  height: 16.7vh;
}
.navbar .right-navbar-top{
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  /* margin-top: 2rem;
  margin-left: 34rem; */
  align-items: center;
  font-size: 1.13vw;
  
  width: 70vw;
  /* flex-wrap: wrap; */
}

.navbar .right-navbar-bottom{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap;*/
  gap: 1.5rem;
  width: 70vw;
  /* margin-left: 1.8rem;
  margin-top: 1.6rem; */
  justify-content: flex-start;
  align-items: center;
  font-size: 1.08vw;
  font-weight: 600;
  /* padding-top: 1rem; */
}
.navbar .right-navbar-bottom a, .right-navbar-top a{
  text-decoration: none;
  color: #231c19;
}
.navbar .right-navbar-bottom p:hover{
  text-decoration: underline;
  color: #231c19;
  text-underline-offset: 0.4rem;
}
.bg-image{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  height: 95vh;
  position: sticky;
}
.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 13vh;
  width: 88vw;
  background-color: white;
  border-radius: 1.5rem;
  margin: -35rem 5.5rem;
  padding: 1rem 2rem;
  position: sticky;                               /*change */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1;
}

/* Individual Search Items */
.search-item {
  display: flex;
  flex-direction: column;
  margin-right: 1.1rem;
  padding-right: 2rem;
}

.search-item:first-child {
  border-right: 2px dotted #c3c0c0;
}
.search-item-logo{
  margin-bottom: 0.2rem;
}
.search-item-logo i{
  font-size: 1rem;
  margin-right: 1rem;
}
.search-item-logo span{
  color: #5a5858;
}
.search-details #date::placeholder{
  color: #231c19;
}
/* Input and Label Details */
.search-details {
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #333;
  width: 20rem;
}

input::placeholder {
  color: #6c6a6a;
}

/* Search Button */
.search-button {
  background-color: rgb(17, 17, 17);
  color: white;
  border: none;
  padding: 1rem 8rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button:hover {
  background-color: #444;
}
.card-section{
  display: flex;
  flex-direction: column;
  padding-top: 13rem;
  padding-left: 7rem;
  width: 40rem;
}
.card-image{
  padding-bottom: 1.5rem;
}
.card-section img{
  height: 6rem;
  width: 8.5rem;
}
.card-section-info h1{
  color: white;
  font-size: 2.4rem;
  padding-bottom: 0.7rem;
}
.card-section-info p{
  color: white;
  font-size: 1rem;
  margin-bottom: 1.7rem;
}
 .card-section-info button{
  background-color: white;
  color: #1c1c1c;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}
.card-section-info button:hover{
  background-color: #c1b4b4;
}

.card-section-info button:hover::after{
  padding-bottom: 0.6rem;
  content: "↗";
}
.card-section-info button:after{
  content: "";
  font-size: 1.1rem;
  color: #1c1c1c;
  right: 1rem; /
}
.bg-image .location{
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 60rem;
  margin-top: 2rem;
  color: white;
  width: 23vw;
  height: 1.3rem;
  text-align: center;
  padding: 0.2rem 0.1;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: width 0.2s;
}
.bg-image .location:hover{
  width: 22vw;
}
.hotel-deals{
  width: 80vw;
  height: 88vh;
  padding-top: 68rem;
  padding-bottom: 35rem;
  padding-left: 3.6rem;
}
.hotel-deals-heading{
  margin-bottom: 1.7rem;
}
.hotel-deals-heading h3{
  font-size: 1.7rem;
}
.hotel-deals-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}
.hotel-deals-info .view-more{
  font-weight: bold;
  cursor: pointer;
}
.hotel-deals-info .view-more:hover{
  text-decoration: underline;
}
.hotel-deals-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotel-deals-images img{
  border-radius: 1.5rem;
  cursor: pointer;
  width: 28vw;
}
.arrow-button {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2.5rem;
  padding: 1.2rem;
}
.arrow-button span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button:hover {
  color: white; 
}
.hotel-deals-images{
  display: flex;
  gap: 20px;
}
.hotel-deals-img{
  height: 50vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}
.image-info{
  border-radius: 1.4rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 24rem;
  height: 6rem;
  gap: 0.9rem;
  cursor: pointer;
}
.image-info-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.image-info-1 span{
  font-size: 1.5rem;
  font-weight: 600;
}
.hotel-deals-img #img-1{
  margin-top: -6.2rem;

}
.image-info h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  text-transform: uppercase;
  opacity: 0.6;
}
.image-info p {
  font-size: 1.1rem;
  margin: 0;
}
.join-signin{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 80vw;
  height: 60vh;
  border-radius: 1.1rem;
  margin: 1rem 6rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  gap: 4rem;
}
.join{
  margin: 5.8rem 0px;
  padding-left: 5rem;
  width: 27rem;
}
.join #join-heading{
  font-size: 2.4rem;
  color: black;
}
.join p{
  color: #5a5858;
  padding-bottom: 0.8rem;
}
.join .joinin-buttons{
  padding-top: 2rem;
}
.join .joinin-buttons .bt-1{
  background-color: #1a1614;
  color: white;
  border: none;
  height: 2.6rem;
  width: 7.8rem;
  border-radius: 1.4rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.8rem 1rem;
  margin-right: 1rem;
}
.join .joinin-buttons .bt-1:hover{
  background-color: #363534;
}
.join .joinin-buttons .bt-2{
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 2.6rem;
  width: 7.3rem;
  border-radius: 1.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.7rem 0.5rem;
}
.join .joinin-buttons .bt-2:hover{
  background-color:  #1a1614;
  color: white;
}
.join-options{
  width: 28rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}
.join-options i{
  width: 3.9rem;
  height: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-options .options-1{
  width: 13rem;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 1.5rem;
  text-align: center;
}
.join-options .options-2{
  width: 13rem;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 1.5rem;
  text-align: center;
}
.join-options .options-3{
  width: 13rem;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 1.5rem;
  text-align: center;
}
.join-options .options-4{
  width: 13rem;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 1.5rem;
  text-align: center;
}


.join-options .row-2{
  padding: 1.7rem;
}
.join-options span{
  color: #5a5858;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exp{
  width: 90vw;
  height: 120vh;
  padding: 2rem 4rem;
  
}
.exp-heading{
  margin-bottom: 1.7rem;
}
.exp-heading h3{
  font-size: 1.7rem;
}
.exp-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87vw;
  height: 65%;
  object-fit: cover;
  gap: 1rem;
}
.exp-img img{
  width: 28vw;
  border-radius: 0.8rem;
  cursor: pointer;
}
.arrow-button-1 {
  width: 3rem; 
  height: 3rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 15rem;
  padding: 1.2rem;
  margin-left: -2rem;
}
.arrow-button-1 span {
  font-size: 2rem;
  line-height: 1;
}
.arrow-button-1:hover {
  color: white; 
}
.exp-info{
  border-radius: 1.5rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 24rem;
  height: 6rem;
  gap: 0.9rem;
  cursor: pointer;
}
.exp-info-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.exp-info-1 span{
  font-size: 1.5rem;
  font-weight: 600;
}
.exp-info h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  text-transform: uppercase;
  opacity: 0.6;
}
.exp-info p {
  font-size: 1.1rem;
  margin: 0;
}
.food{
  width: 100vw;
  height: 75vh;
  background-color: #1c1c1c;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
}
.food .food-info{
  margin-top: 7rem;
  margin-left: 4.5rem;
  width: 26vw;
  
  color: white;
}
.food-img{
  display: flex;
  flex-direction: row;
  width: 75vw;
  align-items: center;
  gap: 1.1rem;
  margin-left: 5rem;
}
.food-img img{
  width: 100%;
  height: 58vh;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.food-info .food-info-heading{
  color: #757272;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 3rem;
}
.food-info p{
  font-size: 2.3rem;
  line-height: 3rem;
}
.food-explore{
  line-height: 4rem;
  cursor: pointer;
  width: 7rem;
}
.food-explore:hover{
  text-decoration: underline;
}
.food-img-info{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 23.2rem;
  height: 6.1rem;
  gap: 0.5rem;
  cursor: pointer;
}
.food-img-info p{
  font-size: 0.8rem;
  margin: 0;
}
.food-img-info-1{
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}
.food-img-info-1 span{
  font-size: 1.4rem;
  font-weight: 600;
}
.arrow-button-2 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: white;
  color: rgb(166, 164, 164);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  padding: 1.2rem;
  margin-left: -2rem;
}
.arrow-button-2 span {
  font-size: 2rem;
  line-height: 1;
}
.arrow-button-2:hover {
  color: black; 
}
.app{
  height: 18vh;
  width: 87vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 1.2rem;
  padding: 1rem;
}
.app .app-img{
  width: 13vw;
  height: auto;
  padding: 1rem 2rem;
}
.app .app-img img{
  width: 100%;
  object-fit: cover;
  height: 15vh;
}
.app-scan{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 0.2rem;
}
.app .app-scan{
  width: 12vw;
  height: auto;
  padding: 0.5rem 2rem;
}
.app .app-scan img{
  width: 70%;
  object-fit: cover;
  height: 14vh;
  cursor: pointer;
}
.app .app-scan h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(233, 143, 111);
  text-align: center;
}
.app-info{
  line-height: 2.3rem;
  padding-left: 2rem;
  text-align: left;
}
.app-info .app-info-head{
  font-size: 1.5rem;
  font-weight: 600;
}
.app-info span{
  color: #444;
}
.career{
  height: 16vh;
  width: 85vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}
.career .career-img{
  width: 15%;
  max-width: 90px;
  height: auto;
  margin-left: -1rem;
}
.career .career-img img{
  width: 100%;
  object-fit: cover;
  height: auto;
  border-top-left-radius: 1.2rem; 
  border-bottom-left-radius: 1.2rem;
}
.career-info{
  flex: 1;
  line-height: 2rem;
  padding-left: 2rem;
}
.career-info .career-info-head{
  font-size: 1rem;
  font-weight: 600;
}
.career-info span{
  color: #444;
}
.career-arrow{
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.winter-way{
  width: 95vw;
  height: 75vh;
  padding: 0.8rem 5.9rem;
}
.winter-way-heading{
  margin-bottom: 1.7rem;
}
.winter-way-heading h3{
  font-size: 1.7rem;
}
.winter-way-images{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 85vw;
  height: 65%;
  object-fit: cover;
}
.winter-way-images img{
  width: 40vw;
  border-radius: 0.8rem;
  cursor: pointer;
}
.w-w-info{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -3.8rem;
  width: 34rem;
  height: 3.5rem;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.arrow-button-3 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: #1a1614;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2rem;
  padding: 1.2rem;
}
.arrow-button-3 span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button-3:hover {
  color: white; 
}
.rent{
  width: 88vw;
  height: 40vh;
  margin-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 35rem;
  padding-left: auto;
  padding-right: auto;
}
.rent-heading{
  margin-bottom: 1.7rem;
}
.rent-heading h3{
  font-size: 1.7rem;
}
.rent-info .view-more{
  font-weight: bold;
}
.rent-info .view-more:hover{
  text-decoration: underline;
}
.rent-images{
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto auto;
  
}
.rent-images img{
  width: 100%;
  height: 60vh;
  border-radius: 1.5rem;
  cursor: pointer;
}
.rent-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}
.rent-info-1{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -3.8rem;
  width: 100%;
  height: 3.5rem;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.arrow-button-4 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.arrow-button-4 span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button-4:hover {
  color: white; 
}
.rent-images{
  display: flex;
  gap: 20px;
}
.rent-img{
  height: 50vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}


.footer{
  background-color: rgb(245, 245, 245);
  height: auto;
  width: 100%;
}
.logos-border{
  background-color: white;
  min-height: 70vh;
}
.logos-container{
  border: 1px solid gray;
  width: 90%;
  height: 60vh;
  margin: -3rem auto 1rem auto;
  padding: 1rem;
  overflow: hidden;
}
.logos-border img.main-logo{
  width: 7.5rem;
  height: 4.8rem;
  display: block;
  margin: 0 auto 1rem auto;
}
.content img{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s ease;
  
}
.content img:hover{
  opacity: 0.7;
}
 .content-main{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
 }
 .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
 }
 .content h5{
  color: rgb(153, 151, 151);
  min-width: 8rem;
  margin-bottom: 0.5rem;
 }
 .content img{
  width: 4rem;
  height: 2.5rem;
  object-fit: contain;
  transition: filter 0.3s ease;
  cursor: pointer;
 }
 .luxury, .premium, .select, .l-s{
  display: flex;
  gap: 0.2rem;
  margin-bottom: 2rem;
  margin-left: -2rem;
 }

 .premium .tribute{
  width: 9%;
  object-fit: contain;
 }
 
 .select .four-flex{
  width: 9%;
  object-fit: contain;
 }
 
 .about-1{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  max-width: 120rem;
  margin: 2rem auto;
  height: auto;
 }
 .menu{
  width: 30%;
  padding: 0 3rem;
 }
 .about-1 #border{
  border-right: 2px solid #cac7c7;
 }
 h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-1 ul {
  list-style-type: none;
  padding: 0;
}

.about-1 li {
  margin-bottom: 0.8rem;
}

.about-1 ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-1 ul li a::after {
  content: '›'; 
  font-size: 1rem;
  color: #333; 
  margin-left: 5px; 
  text-decoration: none;
}
.about-1 ul li a:hover::after {
  text-decoration: none;
}
.about-1 ul li a:hover {
  text-decoration: underline;
}
.about-2{
  background-color: #1c1c1c;
  padding: 1rem 6rem;
}
.about-company{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.about-2-heading{
  margin-right: 3rem;
  padding-left: 2rem;
}
.about-2-heading h2{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: white;
}
.about-2-heading ul {
  list-style-type: none;
  padding: 0;
}
.about-2-heading ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(227, 226, 226);
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-2 ul li a:hover {
  text-decoration: underline;
  font-size: 0.85rem;
  color: white;
}
.top-destinations{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
}
.follow{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
}
.follow-marriott{
  padding-right: 3rem;
}
.social-sites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.copyrights{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 1.5rem;
  color: lightgray;
}
.copyrights .english{
  align-items: center;
  cursor: pointer;
}
.last-line{
  font-size: 0.9rem;
  padding: 1rem;
  color: whitesmoke;
}
@media (max-width: 1287px){
  .bg-image .location{
    margin-left: 45rem;
    width: 29vw;
  }
  .image-info{
    width: 22.5rem;
  }
}
@media (max-width: 1244px){
  .search-container{
    margin-top: -40rem;
  }
  .bg-image{
    height: 110vh;
    padding-bottom: 2rem;
  }
  .card-section{
    padding-top: 15rem;
  }
  .bg-image .location{
    margin-left: 45rem;
    width: 27vw;
  }
  .search-button{
    width: 8rem;
    padding: 0.5rem 7.5rem;
    
  }
  .search-item{
    margin-right: -0.5rem;
  }
  .search-details input{
    font-size: 1.3rem;
  }
}
@media (max-width: 1098px){
  .join-signin{
    height: auto;
  }
  .join-options{
    width: 30rem;
  }
  .image-info{
    width: 18rem;
  }
  .bg-image{
    height: 150vh;
    margin-bottom: 14rem;
  }
  .search-item{
    margin-right: -0.8rem;
  }
  .search-button{
    width: 5rem;
    padding: 0.5rem 5rem;
    
  }
  .bg-image .location{  
    margin-left: 40rem;
    width: 29vw;
  }
  .exp-info{
    width: 18rem;
  }
  .food-img-info{
    width: 20rem;
  }
  .w-w-info{
    width: 27rem;
  }
  .hotel-deals{
    margin-top: -10rem;
  }
}
@media (max-width: 1082px){
  .join-signin{
    height: auto;
    margin-top: -10rem;
  }
  .join-options{
    width: 32rem;
  }
  
}
@media (max-width: 1056px){
  .join-signin{
    height: auto;
    margin-top: -5rem;
  }
  .join-options{
    width: 33rem;
  }
}
@media (max-width: 1046px){
  .join-options{
    width: 34rem;
  }
}
@media (max-width: 1044px){
  .search-container{
    width: 70vw;
    margin-top: -40rem;
  }
  .card-section{
    padding-top: 21rem;
  }
  .search-item {
    margin-right: 0.6rem;
    padding-right: 1.3rem;
  }
  .search-button{
    /* padding: 0.5rem 5rem;
    margin-left: 2rem; */
    display: none;
  }
   /* Show Hamburger Menu */
   .hamburger-menu {
    display: inline;
    position: absolute;
    padding-top: 0.7rem;
    padding-left: 2rem;
    margin: auto;
    /* z-index: 1; */
    height: 10vh;
  }
  .navbar .left-navbar img{
    margin-left: 2rem;
    height: 7rem;
    width: 13rem;
    padding-left: 3rem;
    
  }
  .navbar{
    height: 10vh;
  }

  /* Hide navbar content by default */
  .right-navbar-top .icons span {
    display: none;
    width: 0;
  }
  .right-navbar .icons{
    padding-left: -2rem;
  }
  .right-navbar {
    /* background-color: palevioletred; */
    /* width: 40vw; */
  }
  .right-navbar .icons i{
    /* gap: 0.2rem; */
    font-size: 1.5vw;
    justify-content: center;
    background-color: lightblue;
  }
  .right-navbar-bottom a{
    display: none;
  }
  input{
    width: 15rem;
    
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 65vw;
    justify-content: center;
    gap: -1rem;
  }
  .join{
    padding-left: 8rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1,
   .join .joinin-buttons .bt-2{
    width: 10rem;
  }
  .join-options{
    margin-top: -7rem;
  }
}
@media (max-width: 1024px){
  .bg-image{
    height: 130vh;
    margin-bottom: 4rem;
  }
  .card-section{
    padding-top: 18rem;
  }
  .bg-image .location{
    margin-left: 37rem;
    width: 32vw;
  }
  .hotel-deals{
    margin-top: 15rem;
    width: 75vw;
    height: auto;
    margin-bottom: -25rem;
    margin-left: auto;
    margin-right: auto;
  }
  .join{
    padding-left: 6rem;
    width: 36rem;
  }
  .join-signin{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  .bt-1, .bt-2{
    width: 36rem;
    padding-left: 19rem;
  } 
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.5rem;
  }
  .hotel-deals-images img{
    width: 31vw;
  }
  .arrow-button{
    display: none;
  }
  .image-info{
    width: 31vw;
  }
  .search-container{
    width: 73vw;
    padding: 0.5rem 1rem;
    margin-top: -54rem;
  }
  .search-item-logo i{
    font-size: 1.2rem;
  }
  .search-details input{
    font-size: 1rem;
  }
  .search-item {
    margin-right: 0.5rem;
    padding-right: 0.1rem;
  }
  .search-button{
    display: none;
  }
  .bg-image{
    height: auto;
    background-size: cover;
  }
  .exp{
    height: auto;
    margin-top: 8rem;
  }
 .exp-info{
  width: 18rem;
 }
  .winter-way{
    height: auto;
    width: 70vw;
    padding-right: auto;
  }
  .w-w-info{
    width: 25rem;
  }
  .w-w-img{
    box-shadow:none;
    height: auto;
  }
  .food-img-info{
    width: 18rem;
  }
  .rent{
    height: auto;
    width: 60vw;
    padding-right: auto;
    /* padding-left: -20rem; */
    margin-bottom: -32rem;
    margin-left: auto;
    margin-right: auto;
  }
  .rent-images{
    flex-wrap: wrap;
    gap: 1rem;
    width: 70vw;
    height: auto;
  }
  .rent-info-1{
    width: 18rem;
  }
  .rent-images img{
    width: 30vw;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  .rent-img{
    box-shadow:none;
    height: auto;
  }
  .app .app-img {
    height: auto;
    object-fit: contain;
    padding: 0; 
  }
  .app .app-scan{
    width: 25vw;
    margin-right: 1rem;
    object-fit: contain;
    padding: 1rem;
  }
  .career{
    width: 84vw;
  }
  .career .career-img {
    width: 20%;
  }

  .career-info {
    padding-left: 1rem;
  }

  .career-arrow {
    margin-left: 1rem;
  }
  .footer {
    flex-direction: column;
    height: auto;
    
  }
  .logos-container{
    flex-wrap: wrap;
    height: auto;
    margin: -2rem 2rem;
  }
   .content
 {
  gap: 0.2rem;
  margin-left: 2rem;
  height: auto;
 }
   .luxury, .premium, .select, .l-s{
    flex-wrap: wrap;
   }
  .about-1{
    padding: 1.2rem;
    margin: 2.8rem auto;
    gap: 0.5rem;
   }
   .menu{
    padding: 0 1.5rem;
   }
   .about-1 #border{
    border-right: 2px solid #cac7c7;
   }
   h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  .about-1 li {
    margin-bottom: 0.5rem;
  }
  
  .about-1 ul li a {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    position: relative;
    font-weight: 500;
  }
  .about-2{
    padding: 1rem 5.3rem;
  }
  .about-company{
    gap: 0.2rem;
  }
  .about-2-heading{
    margin-right: 1.2rem;
    padding-left: 0.6rem;
  }
  .about-2-heading h2{
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 1014px){
  .search-container{
    margin-top: -48rem;
  }
  .card-section{
    padding-top: 24rem;
  }
  .bg-image{
    height: 140vh;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .hotel-deals{
    height: auto;
    margin-top: 10rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.2rem;
  }
  .hotel-deals-images img{
    width: 31vw;
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 68vw;
    gap: -1rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
    width: 23rem;
  }
  .join-options{
    margin-top: -7rem;
  }
  .food{
    height: auto;
    flex-direction: column;
    padding-bottom: 2rem;

  }
  .food .food-info{
    width: 70vw;
    margin: auto;
  }
  .food-img-info{
    width: 25.4rem;
  }
  .food-img{
    width: 80vw;
  }
  .food-img img{
    width: 40vw;
  }
  .winter-way-images{
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  .w-w-info{
    width: 40vw;
  }
  .winter-way-images img{
    width: 40vw;
    height: auto;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .rent{
    height: auto;
    width: 70vw;
    padding-right: auto;
    padding-bottom: 47rem;
  }
  .rent-images{
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-button-4 {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    padding-top: -30rem;
  }
  .rent-info-1{
    width: 33vw;
  }
  .rent-images img{
    width: 33vw;
    height: auto;
    border-radius: 1.5rem;
  }
  .app{
    height: auto;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    margin-top: -15rem;
  }
  .app-scan img{
    width: 15vw;
    height: auto;
  }
  .app .app-scan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -0.5rem;
    gap: 1.5rem;
    width: 15vw;
  }
  .app .app-img {
    /* width: 20vw;  */
    height: 8vh;
    object-fit: cover;
    padding: 0; 
    margin-top: -3rem;
  }
  .app-img img{
    width: 20vw;
    margin-top: -6rem;
  }
}
@media (max-width: 926px){
  .bg-image .location{
    margin-left: 30rem;
    width: 34vw;
  }
}
@media (max-width: 872px){
 
  .hotel-deals{
    height: auto;
    width: 80vw;
    margin-top: 10rem;
    margin-left: 2rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.2rem;
  }
  .hotel-deals-images img{
    width: 33vw;
  }
  /* .rent{
    margin-bottom: -90rem;
  } */
  .search-container{
    margin-top: -49rem;
  }
  .card-section{
    padding-top: 27rem;
  }
  .bg-image{
    height: 160vh;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .bg-image .location{
    margin-left: 24rem;
    width: 39vw;
  }
  .exp-info{
    width: 28vw;
  }
  
}
@media (max-width: 840px){
  .right-navbar .icons{
    margin-right: 4rem;
    padding-right: -2rem;
    width: 10vw;
  }
  .right-navbar .icons i{
    font-size: 1rem;
    gap: 0.1rem;
    font-size: 1.7vw;
  }
  .food-img-info{
    width: 40vw;
  }
  .food-img-info span{
    font-size: 1.2rem;
  }
  .join{
    padding-left: 5rem;
  }
  .arrow-button-3{
    display: none;
  }
  .app-scan img{
    width: 10vw;
    height: 25vh;
  }
  .app .app-scan{
    width: 20vw;
    height: auto;
  }
  .join-options{
    padding-left: 3rem;
  }
  .hotel-deals-img img{
    height: 50vh;
  }
  .image-info{
    width: 33vw;
  }
  .arrow-button-1{
    display: none;
  }
}
@media (max-width: 775px){
  .location{
    margin-left: -20rem;
  }
  .bg-image{
    height: auto;
  }
  .right-navbar .icons{
    padding-left: -8rem;
  }
  .bg-image .location{  
    margin-left: 18rem;
    width: 42vw;
  }
  .card-section-info h1{
    font-size: 1.5rem;
  }
  .card-section-info p{
    font-size: 0.8rem;
  }
}
@media (max-width: 785px){
  .bg-image .location{  
    margin-left: 12rem;
    width: 48vw;
  }
  .app{
    height: auto;
    width: 45vw;
    padding: 1rem;
    margin-top: 3rem;
  }
  .app .app-img img{
    margin-top: -2rem;
  }
  .app .app-scan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  .winter-way-images img{
    width: 70vw;
  }
  .w-w-info{
    width: 34rem;
  }
  .card-section{
    padding-top: 30rem;
  }
  
  .search-container{
    margin-left: 13rem;
    margin-top: -50rem;
    width: 24rem;
  }
  .search-details input{
    font-size: 0.9rem;
    width: 10rem;
  }
  .search-details input{
    font-size: 0.9rem;
    width: 10rem;
  }
  .right-navbar{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 85%;
    margin: auto;
    gap: -1rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
    width: 20rem;
  }
  .join-options{
    margin-top: -7rem;
  }
  .hotel-deals{
    width: 70vw;
    margin-top: 12rem;
    margin-left: 7rem;
    margin-bottom: -25rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 6rem;
  }
  .hotel-deals .view-more{
    display: none;
  }
  .arrow-button{
    margin-top: -2rem;
  margin-left: 10rem;
  padding: 1rem;
  }
  .arrow-button-1{
    margin-top: -4rem;
    padding: 1rem;
    margin-left: 10rem;
  }
  .arrow-button-3{
    margin-top: -3rem;
    padding: 1rem;
    margin-left: 10rem;
  }
  .arrow-button-4{
    margin-top: -3rem;
    padding: 1.4rem;
    margin-left: -2rem;
  }
  .exp{
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
    padding-bottom: 10rem;
  }
  .exp-heading{
    margin-left: 6rem;
    padding-top: 2rem;
  }
  .exp-images{
    padding-left: 10rem;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    height: auto;
    width: 70vw;
  }
  .exp-info{
    width: 50vw;
  }

.exp-images img{
  width: 50vw;
  height: 95vh;
  border-radius: 1.5rem;
  cursor: pointer;
}
.exp-img{
  box-shadow:none;
  height: auto;
}
.arrow-button-4{
  display: none;
}
  .food{
    height: auto;
    flex-direction: column;
    margin-top: -10rem;
    padding-bottom: 2rem;
  }
  .food .food-info{
    width: 70%;
    margin: auto;
  }
  .food-img-info{
    width: 20rem;
  }
  .food-img{
    flex-direction: column;
  }
  .footer{
    height: auto;
    width: 100%;
  }
  .content-main {
    gap: 2rem;
  }

  .content {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .content h5 {
    margin-bottom: 1rem;
  }

  .content img {
    width: 4rem;
    height: 2.8rem;
  }
  .luxury, .premium, .select, .l-s{
    display: flex;
  }
  .about-2{
    padding: 1rem 5rem;
  }
  .about-company{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .top-destinations{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.5rem;
    color: white;
  }
  .copyrights{
    gap: 1.7rem;
    padding: 1rem 0.5rem;
  }
  .copyrights .english{
    display: inline-flex;
  }
}
@media (max-width: 519px){
  .right-navbar .icons i{
    font-size: 1rem;
    gap: 0.1rem;
    font-size: 1.9vw;
  }
  .bg-image .location{  
    margin-left: 8rem;
    width: 50vw;
  }
  .search-container{
    margin-left: 4rem;
    margin-top: -48rem;
  }
  .card-section-info{
    width: 70vw;
  }
  .location{
    margin-left: 10rem;
    font-size: 0.8rem;
    width: 20rem;
  }
}
  @media (max-width: 480px){
    .card-section-info{
      width: 50vw;
    }
    .search-container{
      margin-left: 6rem;
    }
    .search-details input{
      font-size: 0.8rem;
      width: 8rem;
    }
    .join-signin{
      flex-direction: column;
      height: auto;
      width: 10vw;
      justify-content: center;
      gap: -1rem;
      padding-left: -3rem;
    }
    .join{
      padding-left: 1rem;
    }
    .join .joinin-buttons{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
      width: 2rem;
    }
    .exp-images{
      padding-left: 5rem;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      height: auto;
    }
    .exp-info{
      width: 21rem;
    }
  
  .exp-images img{
    width: 80%;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
    .exp-info{
      width: 17rem;
      font-size: 1.2rem;
    }
  .rent-images{
    gap: 5rem;
  }
    .logos-border{
      height: auto;
      padding: 1rem 1rem;
    }
    .logos-container {
      padding: 0.5rem;
    }
  
    .content img {
      width: 3.5rem;
      height: 2.5rem;
      margin: 0.3rem;
    }
  
    .content h5 {
      font-size: 1rem;
    }
    .about-2{
      padding: 1rem 5rem;
    }
    .follow{
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1.5rem;
      flex-direction: column;
      gap: 1rem;
    }
    .follow-marriott{
      padding-right: 2rem;
    }
    .social-sites{
      gap: 1.3rem;
    }
    .copyrights{
      flex-direction: column;
      gap: 0.6rem;
    }
    .last-line{
      font-size: 0.9rem;
      padding: 1.2rem;
    }
  }
  @media (max-width: 320px){
    .rent{
      width: 120vw;
      margin-left: 5rem;
    }
    .rent-images{
      width: 110vw;
    }
    .rent-img img{
      width: 140vw;
    }
    .rent-info-1{
      width: 140vw;
    }
    .app{
      width: 140vw;
      margin-left: 5rem;
      height: 90vh;
      margin-top: -15rem;
    }
    .app .app-img{
      height: auto;
    }
    .app .app-img img{
      width: 60vw;
      height: 30vh;
      margin-left: -6rem;
      border-radius: 1.5rem;
    }
    .app .app-scan img{
      width: 60vw;
      height: 30vh;

    }
    .career{
      width: 90vw;
      margin-left: 6rem;
    }
    .app-img img{
      width: 70vw;
    }
    .food-img{
      width: 100vw;
    }
    .food-img-info{
      width: 90vw;
    }
    .food-img img{
      width: 90vw;
    }
    .home-section{
      width: 200vw;
    }
    .card-section{
      width: 100vw;
    }
    .hotel-deals{
      width: 140vw;
      margin-top: -63rem;
    }
    .hotel-deals-images{
      flex-wrap: wrap;
      width: 90vw;
      gap: 2rem;
    }
    .hotel-deals-images img{
      width: 100vw;
    }
    .image-info{
      width: 98vw;
    }
    .winter-way{
      width: 100vw;
    }
    .winter-way-images img{
      width: 120vw;
    }
    .w-w-info{
      width: 20rem;
    }
    .exp{
      width: 150vw;
    }
    .exp-images{
      width: 100vw;
    }
    .exp-img img{
      width: 98vw;
    }
    .exp-info{
      width: 98vw;
    }
    .food{
      width: 200vw;
    }
    .join-signin{
      width: 32rem;
      margin-left: 5rem;
    }
    .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
      width: 23rem;
    }
    .search-container{
      display: none;
    }
    .right-navbar .icons{
      align-items: center;
    }
    .footer{
      width: auto;
      background-color: lightblue;
      border-radius: 2rem;
    }
    .search-details input{
      font-size: 0.8rem;
      width: 7rem;
    }
    .social-sites{
      gap: 0.8rem;
      flex-wrap: wrap;
    }
    .last-line{
      font-size: 0.9rem;
      padding: 1rem;
    }
  }