*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: "Swiss", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efeded;
}
.header-black{
  z-index: 100;
  width: 100%;
  height: 0.3rem;
  background-color: #231c19;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.home-section{
  position: relative;
  background: url('Home-section Images/bg-image.png');
  height: 120vh;
  background-repeat: no-repeat;
  background-size: contain;
  
}
/* .home-section::before{
  background-color: rgba(0, 0, 0, 0.6);
} */
.navbar{
  height: 17vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.navbar .left-navbar img{
  margin-left: -10px;
  height: 11.7rem;
  width: 15.3rem;
  padding-left: 5rem;
}
.navbar .right-navbar-top{
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 2rem;
  margin-left: 34rem;
  font-size: 1rem;
}

.navbar .right-navbar-bottom{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 70rem;
  margin-left: 1.8rem;
  margin-top: 1.6rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.navbar .right-navbar-bottom a, .right-navbar-top a{
  text-decoration: none;
  color: #231c19;
}
.navbar .right-navbar-bottom p:hover{
  text-decoration: underline;
  color: #231c19;
  text-underline-offset: 0.4rem;
}
.bg-image{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  height: 95vh;
  position: sticky;
}
.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 13vh;
  width: 88vw;
  background-color: white;
  border-radius: 1.5rem;
  margin: -39rem 5.5rem;
  padding: 1rem 2rem;
  position: sticky;                               /*change */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1;
}

/* Individual Search Items */
.search-item {
  display: flex;
  flex-direction: column;
  margin-right: 1.1rem;
  padding-right: 2rem;
}

.search-item:first-child {
  border-right: 2px dotted #c3c0c0;
}
.search-item-logo{
  margin-bottom: 0.2rem;
}
.search-item-logo i{
  font-size: 1rem;
  margin-right: 1rem;
}
.search-item-logo span{
  color: #5a5858;
}
.search-details #date::placeholder{
  color: #231c19;
}
/* Input and Label Details */
.search-details {
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #333;
  width: 20rem;
}

input::placeholder {
  color: #6c6a6a;
}

/* Search Button */
.search-button {
  background-color: rgb(17, 17, 17);
  color: white;
  border: none;
  padding: 1rem 8.5rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button:hover {
  background-color: #444;
}
.card-section{
  display: flex;
  flex-direction: column;
  padding-top: 13rem;
  padding-left: 7rem;
  width: 40rem;
}
.card-image{
  padding-bottom: 1.5rem;
}
.card-section img{
  height: 6rem;
  width: 8.5rem;
}
.card-section-info h1{
  color: white;
  font-size: 2.4rem;
  padding-bottom: 0.7rem;
}
.card-section-info p{
  color: white;
  font-size: 1rem;
  margin-bottom: 1.7rem;
}
 .card-section-info button{
  background-color: white;
  color: #1c1c1c;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}
.card-section-info button:hover{
  background-color: #c1b4b4;
}

.card-section-info button:hover::after{
  padding-bottom: 0.6rem;
  content: "↗";
}
.card-section-info button:after{
  content: "";
  font-size: 1.1rem;
  color: #1c1c1c;
  right: 1rem; /
}
.bg-image .location{
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 60rem;
  margin-top: 2rem;
  color: white;
  width: 23vw;
  height: 1.3rem;
  text-align: center;
  padding: 0.2rem 0.1;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: width 0.2s;
}
.bg-image .location:hover{
  width: 22vw;
}
.hotel-deals{
  width: 93vw;
  height: 90vh;
  padding-top: 73rem;
  padding-bottom: 35rem;
  padding-left: 5.5rem;
}
.hotel-deals-heading{
  margin-bottom: 1.7rem;
}
.hotel-deals-heading h3{
  font-size: 1.7rem;
}
.hotel-deals-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}
.hotel-deals-info .view-more{
  font-weight: bold;
}
.hotel-deals-info .view-more:hover{
  text-decoration: underline;
}
.hotel-deals-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotel-deals-images img{
  border-radius: 1.5rem;
  cursor: pointer;
}
.arrow-button {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2.5rem;
  padding: 1.2rem;
}
.arrow-button span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button:hover {
  color: white; 
}
.hotel-deals-images{
  display: flex;
  gap: 20px;
}
.hotel-deals-img{
  height: 50vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}
.image-info{
  border-radius: 1.4rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 22.8rem;
  height: 6rem;
  gap: 0.9rem;
  cursor: pointer;
}
.image-info-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.image-info-1 span{
  font-size: 1.5rem;
  font-weight: 600;
}
.hotel-deals-img #img-1{
  margin-top: -6.2rem;

}
.image-info h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  text-transform: uppercase;
  opacity: 0.6;
}
.image-info p {
  font-size: 1.1rem;
  margin: 0;
}
.join-signin{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 85vw;
  height: 60vh;
  border-radius: 1.1rem;
  margin: 1rem 7rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  gap: 4rem;
}
.join{
  margin: 5.8rem 0px;
  padding-left: 5rem;
  width: 27rem;
}
.join #join-heading{
  font-size: 2.4rem;
  color: black;
}
.join p{
  color: #5a5858;
  padding-bottom: 0.8rem;
}
.join .joinin-buttons{
  padding-top: 2rem;
}
.join .joinin-buttons .bt-1{
  background-color: #1a1614;
  color: white;
  border: none;
  height: 2.6rem;
  width: 7.8rem;
  border-radius: 1.4rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.8rem 1rem;
  margin-right: 1rem;
}
.join .joinin-buttons .bt-1:hover{
  background-color: #363534;
}
.join .joinin-buttons .bt-2{
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 2.6rem;
  width: 7.3rem;
  border-radius: 1.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.7rem 0.5rem;
}
.join .joinin-buttons .bt-2:hover{
  background-color:  #1a1614;
  color: white;
}
.join-options{
  width: 25rem;
  margin: auto;
}
.join-options i{
  width: 3.9rem;
  height: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.join-options .row-1 , .row-2{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  
}
.join-options .row-1{
  border-bottom: 1px solid rgb(162, 155, 155);
  padding: 1.4rem;
  padding-bottom: 0;
  height: 7.8rem;
}
.join-options #options-1{
  width: 10rem;
  border-right: 1px solid rgb(162, 155, 155);
  padding-right: 2rem;
}
.join-options .earn{
  padding-right: 27rem;
}
.join-options .row-2{
  padding: 1.7rem;
}
.join-options span{
  color: #5a5858;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exp{
  width: 95vw;
  height: 120vh;
  padding: 2rem 5rem;
  
}
.exp-heading{
  margin-bottom: 1.7rem;
}
.exp-heading h3{
  font-size: 1.7rem;
}
.exp-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87vw;
  height: 65%;
  object-fit: cover;
  gap: 1rem;
}
.exp-img img{
  width: 28vw;
  border-radius: 0.8rem;
  cursor: pointer;
}
.arrow-button-1 {
  width: 6rem; 
  height: 3rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 15rem;
  padding: 1.2rem;
  margin-left: -2rem;
}
.arrow-button-1 span {
  font-size: 2rem;
  line-height: 1;
}
.arrow-button-1:hover {
  color: white; 
}
.exp-info{
  border-radius: 1.5rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 24rem;
  height: 6rem;
  gap: 0.9rem;
  cursor: pointer;
}
.exp-info-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.exp-info-1 span{
  font-size: 1.5rem;
  font-weight: 600;
}
.exp-info h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  text-transform: uppercase;
  opacity: 0.6;
}
.exp-info p {
  font-size: 1.1rem;
  margin: 0;
}
.food{
  width: 100vw;
  height: 75vh;
  background-color: #1c1c1c;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
}
.food .food-info{
  margin-top: 7rem;
  margin-left: 4.5rem;
  width: 26vw;
  
  color: white;
}
.food-img{
  display: flex;
  flex-direction: row;
  width: 75vw;
  align-items: center;
  gap: 1.1rem;
  margin-left: 5rem;
}
.food-img img{
  width: 100%;
  height: 58vh;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.food-info .food-info-heading{
  color: #757272;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 3rem;
}
.food-info p{
  font-size: 2.3rem;
  line-height: 3rem;
}
.food-explore{
  line-height: 4rem;
  cursor: pointer;
  width: 7rem;
}
.food-explore:hover{
  text-decoration: underline;
}
.food-img-info{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  margin-top: -6.3rem;
  width: 23.2rem;
  height: 6.1rem;
  gap: 0.5rem;
  cursor: pointer;
}
.food-img-info p{
  font-size: 0.8rem;
  margin: 0;
}
.food-img-info-1{
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}
.food-img-info-1 span{
  font-size: 1.4rem;
  font-weight: 600;
}
.arrow-button-2 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: white;
  color: rgb(166, 164, 164);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  padding: 1.2rem;
  margin-left: -2rem;
}
.arrow-button-2 span {
  font-size: 2rem;
  line-height: 1;
}
.arrow-button-2:hover {
  color: black; 
}
.app{
  height: 19vh;
  width: 87vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
  margin-left: 5.5rem;
  align-items: center;
  border-radius: 1.2rem;
}
.app .app-img{
  width: 13vw;
  height: 20vh;
  padding: 1rem 2rem;
}
.app .app-img img{
  width: 100%;
  object-fit: cover;
  height: 15vh;
}
.app-scan{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 25rem;
  gap: 0.2rem;
}
.app .app-scan{
  width: 11.5vw;
  height: 20vh;
  padding: 1rem 2rem;
}
.app .app-scan img{
  width: 100%;
  object-fit: cover;
  height: 15vh;
  cursor: pointer;
}
.app .app-scan h4{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(233, 143, 111);
}
.app-info{
  line-height: 2.3rem;
  padding-left: 2rem;
}
.app-info .app-info-head{
  font-size: 1.5rem;
  font-weight: 600;
}
.app-info span{
  color: #444;
}
.career{
  height: 15vh;
  width: 87vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
  margin-left: 5.5rem;
  align-items: center;
  border-radius: 1.2rem;
  cursor: pointer;
}
.career .career-img{
  width: 7vw;
  height: 15vh;
}
.career .career-img img{
  width: 100%;
  object-fit: cover;
  height: 15vh;
  border-top-left-radius: 1.2rem; 
  border-bottom-left-radius: 1.2rem;
}
.career-info{
  line-height: 2rem;
  padding-left: 2rem;
}
.career-info .career-info-head{
  font-size: 1rem;
  font-weight: 600;
}
.career-info span{
  color: #444;
}
.career-arrow{
  margin-left: 50rem;
  font-weight: bold;
}
/* .career:hover::after{
  content: "↗";
} */
.winter-way{
  width: 95vw;
  height: 75vh;
  padding: 0.8rem 5.9rem;
}
.winter-way-heading{
  margin-bottom: 1.7rem;
}
.winter-way-heading h3{
  font-size: 1.7rem;
}
.winter-way-images{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 85vw;
  height: 65%;
  object-fit: cover;
}
.winter-way-images img{
  width: 40vw;
  border-radius: 0.8rem;
  cursor: pointer;
}
.w-w-info{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -3.8rem;
  width: 34.2rem;
  height: 3.5rem;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.arrow-button-3 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: #1a1614;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2rem;
  padding: 1.2rem;
}
.arrow-button-3 span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button-3:hover {
  color: white; 
}
.rent{
  width: 93vw;
  height: 90vh;
  padding-top: 1rem;
  padding-bottom: 35rem;
  padding-left: 5.5rem;
}
.rent-heading{
  margin-bottom: 1.7rem;
}
.rent-heading h3{
  font-size: 1.7rem;
}
.rent-info .view-more{
  font-weight: bold;
}
.rent-info .view-more:hover{
  text-decoration: underline;
}
.rent-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rent-images img{
  width: 100%;
  height: 60vh;
  border-radius: 1.5rem;
  cursor: pointer;
}
.rent-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}
.rent-info-1{
  border-radius: 1.2rem;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -3.8rem;
  width: 23.3rem;
  height: 3.5rem;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.arrow-button-4 {
  width: 2.5rem; 
  height: 2.5rem;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 9rem;
  margin-left: -2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.arrow-button-4 span {
  font-size: 24px;
  line-height: 1;
}
.arrow-button-4:hover {
  color: white; 
}
.rent-images{
  display: flex;
  gap: 20px;
}
.rent-img{
  height: 50vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

.footer{
  background-color: rgb(245, 245, 245);
  height: 220vh;
  width: 100vw;
}
.logos-border{
  background-color: white;
  height: 70vh;
}
.logos-container{
  border: 1px solid gray;
  width: 90vw;
  height: 62vh;
  margin: -3rem 5rem;
}
.logos-border img{
  width: 7.5rem;
  height: 4.8rem;
  position: relative;
  margin-left: 45%;
  margin-top: -1px;
}
.content img{
  width: 5.5rem;
  height: 3.7rem;
  object-fit: contain;
  margin-left: 2rem;
  cursor: pointer;
  transition: filter 0.3s ease;
  display: block;
}
.content img::before{
  opacity: 0.9; 
  transition: opacity 0.3s ease;
  position: absolute;

}
.content:hover:after{
  opacity: 0.1;
}
.content #premium img{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
/* .logos-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
} */
 .content-main{
  display: flex;
  flex-direction: column;
  /* align-items: center; MQ */ 
  padding: 1.6rem;
  gap: 1.2rem;
  margin-top: 1.4rem;
  padding-left: 1.2rem;
 }
 .content{
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
  align-items: center;
  margin-top: 1rem;
 }
 .content h5{
  color: rgb(153, 151, 151);
  width: 8rem;
 }
 .content img{
  width: 55%;
  height: 5.5vh;
  object-fit: cover;
  color: black;
 }
 .content
 .luxury{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 4rem;
 }
 .premium{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  margin-left: -2.8rem;
 }
 .premium .tribute{
  width: 12%;
  object-fit: contain;
 }
 .select{
  display: flex;
  flex-direction: row;
  margin-left: -3.7rem;
  width: 30%;
  object-fit: cover;
  margin-top: 1rem;
 }
 .select .four-flex{
  width: 29%;
  object-fit: contain;
 }
.l-s{
  display: flex;
  flex-direction: row;
  width: 35%;
  object-fit: cover;
  margin-top: 1rem;
}
 
 .about-1{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  max-width: 120rem;
  margin: 2rem auto;
  height: 24rem;
 }
 .menu{
  width: 30%;
  padding: 0 3rem;
 }
 .about-1 #border{
  border-right: 2px solid #cac7c7;
 }
 h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-1 ul {
  list-style-type: none;
  padding: 0;
}

.about-1 li {
  margin-bottom: 0.8rem;
}

.about-1 ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-1 ul li a::after {
  content: '›'; 
  font-size: 1rem;
  color: #333; 
  margin-left: 5px; 
  text-decoration: none;
}
.about-1 ul li a:hover::after {
  text-decoration: none;
}
.about-1 ul li a:hover {
  text-decoration: underline;
}
.about-2{
  background-color: #1c1c1c;
  padding: 1rem 6rem;
}
.about-company{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.about-2-heading{
  margin-right: 3rem;
  padding-left: 2rem;
}
.about-2-heading h2{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: white;
}
.about-2-heading ul {
  list-style-type: none;
  padding: 0;
}
.about-2-heading ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(227, 226, 226);
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-2 ul li a:hover {
  text-decoration: underline;
  font-size: 0.85rem;
  color: white;
}
.top-destinations{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
}
.follow{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
}
.follow-marriott{
  padding-right: 3rem;
}
.social-sites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.copyrights{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 1.5rem;
  color: lightgray;
}
.copyrights .english{
  align-items: center;
  cursor: pointer;
}
.last-line{
  font-size: 0.9rem;
  padding: 1rem;
  color: whitesmoke;
}
