* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-black{
  z-index: 100;
  width: 100%;
  height: 0.3rem;
  background-color: #231c19;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
   gap: 5px;
}
.hamburger-menu {
  display: none; 
  font-size: 2rem;
  cursor: pointer;
}
.home-section{
  position: relative;
  background: url('Home-section Images/bg-image.png');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* .home-section::before{
  background-color: rgba(0, 0, 0, 0.6);
} */
.navbar{
  height: 17vh;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: white;
}
.navbar .left-navbar{
  display: flex;
  flex-direction: column;
}
.navbar .left-navbar img{
  margin-left: 2rem;
  height: 11.7rem;
  width: 15rem;
  padding-left: 4rem;
  
}
.navbar .right-navbar-top{
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  /* margin-top: 2rem;
  margin-left: 34rem; */
  align-items: center;
  font-size: 1.13vw;
  top: 1rem;
  right: 1rem;
  width: 70vw;
  flex-wrap: wrap;
}

.navbar .right-navbar-bottom{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap;*/
  gap: 1.5rem;
  width: 70vw;
  /* margin-left: 1.8rem;
  margin-top: 1.6rem; */
  justify-content: flex-start;
  align-items: center;
  font-size: 1.08vw;
  font-weight: 600;
  padding-top: 1rem;
}
.navbar .right-navbar-bottom a, .right-navbar-top a{
  text-decoration: none;
  color: #231c19;
}
.navbar .right-navbar-bottom p:hover{
  text-decoration: underline;
  color: #231c19;
  text-underline-offset: 0.4rem;
}

.sub-nav {
  width: 100vw;
  height: 7vh;
}


.sub-nav-items {
  display: flex;
  width: 100vh;
  height: 8vh;
  margin-left: 15rem;
  font-size: 1.2rem;
  align-items: center;
}

.sub-nav-items a {
  text-decoration: none;
  color: #707070;
  padding: 1.1rem;
}

.sub-nav-items .active {
  color: black;
  border-bottom: 4px solid black;
}

.sub-nav-items a:hover {
  color: black;
  border-bottom: 4px solid black;
}

.hero-section {
  width: 100vw;
  height: 78vh;
  min-width: 1000px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(./images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-bottom: 10rem;
}



.heading {
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
  letter-spacing: 0.1ch;
}

.heading h1,
h4 {
  font-weight: 100;
  padding: 0.3rem;
}

.search-section {
  width: 60vw;
  height: 30vh;
  background-color: white; 
  position: absolute;
  top: 80%;
  left: 20%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 20px 0px;
}



.search-upper-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  flex-shrink: 1;
}

.input-wrapper {
  position: relative;
}

.search-upper-section input,
.basic-input {
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  width: 30rem;
  margin: 10px;
  line-height: 6ex;
  padding-left: 1rem;
  font-size: 1em;
}

.search-upper-section label,
.basic-input-label {
  position: absolute;
  top: 0.2ex;
  z-index: 1;
  left: 2em;
  padding: 0 5px;
  color: #707070;
  background-color: white;
}

.search-below-section {
  position: relative;
  margin-top: 2rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-label {
  position: absolute;
  top: 1%;
  left: 5%;
  background-color: #fff;
  font-size: 1rem;
  color: #666;
  z-index: 1;
  padding: 0 8px;
}

details {
  position: relative;
  width: 15rem;
}

summary {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  user-select: none;
  color: #707070;
}

details[open] summary {
  background-color: white;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
}

.options label {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.options label:hover {
  background-color: #f0f0f0;
}

.options input[type="radio"] {
  margin-right: 10px;
}

.basic-input {
  width: 15rem;
}

button {
  width: 10rem;
  height: 3rem;
  border-radius: 24px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

button:hover {
  background-color: #666;
  border: none;
  transform: scale(1.05);
}
.explore-text {
  text-align: center;
}

.explore-text h4 {
  margin: 0.5rem 0;
}

.plan-section{
  display: flex;
  width: 60vw;
  height: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 20px 0px;
  align-items: center;
  border-radius: 16px;
}


.plan-section img{
  border-radius: 0 16px 16px 0;
}

.plan-section .text{
  margin-left: 3rem;
}

.plan-section h2{
  letter-spacing: 0.1ch;
}

.plan-section p{
  color: #707070;
  font-size: 0.9rem;
  letter-spacing: 0.1ch;
  margin: 1.2rem 0;
}

.social-cards-container{
  display: flex;
  width: 60vw;
  justify-content: space-between;
  height: 50vh;
  margin: 2rem 20%;
  border-radius: 16px;
  padding: 1rem;
  /* flex-wrap: wrap; */
}


.social-card{
  width: 40%;
  margin: 0 1.5rem;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.social-cards-container .first{
  background: linear-gradient(0deg, rgba(56,55,55,1) 0%, rgba(255,255,255,0) 50%), url(./images/card1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.social-cards-container .second{
  background: linear-gradient(0deg, rgba(56,55,55,1) 0%, rgba(255,255,255,0) 50%), url(./images/card2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.social-cards-container .third{
  background: linear-gradient(0deg, rgba(56,55,55,1) 0%, rgba(255,255,255,0) 50%), url(./images/card3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-card p{
  position: absolute;
  top: 88%;
  left: 11%;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

.social-card, .last-card, .connect-card{
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.social-card:hover{
  transform: scale(1.1);
}
.last-card:hover{
  transform: scale(1.1);
}
.connect-card:hover{
  transform: scale(1.1);
}

.last-cards-container{
  display: flex;
  width: 60vw;
  justify-content: space-between;
  height: 40vh;
  margin: 2rem auto;
  border-radius: 16px;
  padding: 1rem;
}

.last-card{
  width: 50%;
  margin: 0 1.5rem;
  overflow: hidden;
  border-radius: 16px;
}

.last-cards-container .first{
  background: linear-gradient(0deg, rgba(56,55,55,1) 0%, rgba(255,255,255,0) 50%), url(./images/last-card-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.last-cards-container .second{
  background: linear-gradient(0deg, rgba(56,55,55,1) 0%, rgba(255,255,255,0) 50%), url(./images/last-card-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.last-card-text-wrapper{
  margin-top: 18rem;
  margin-left: 2rem;
  color: white;
  cursor: pointer;
}

.last-card-text-wrapper p{
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.connect-section{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: black;
  height: 56vh;
}

.connect-content{
  width: 50%;
  margin: 1rem 20%;
}

.connect-section .text-container{
  color: white;
}

.card-container{
  display: flex;
  width: 60vw;
  justify-content: space-between;
  height: 45vh;
  margin: 2rem 0;
  border-radius: 16px;
  padding: 1rem;
}

.connect-card{
  width: 40%;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 16px;
  background-color: aliceblue;
  position: relative;
}

.card-container .card1{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 27%), url(./images/connect-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-container .card2{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 27%), url(./images/connect-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-container .card3{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 27%), url(./images/connect-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-container .card4{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 27%), url(./images/connect-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.connect-card h3{
  position: absolute;
  top: 88%;
  left: 11%;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

.footer{
  background-color: rgb(245, 245, 245);
  width: 100vw;
  margin-top: 5rem;
}
.logos-border{
  background-color: white;
  height: 70vh;
}
.logos-container{
  border: 1px solid gray;
  width: 90vw;
  height: 62vh;
  margin: -3rem 5rem;
}
.logos-border img{
  width: 7.5rem;
  height: 4.8rem;
  position: relative;
  margin-left: 45%;
  margin-top: -1px;
}
.content img{
  width: 5.5rem;
  height: 3.7rem;
  object-fit: contain;
  margin-left: 2rem;
  cursor: pointer;
  transition: filter 0.3s ease;
  display: block;
}
.content img::before{
  opacity: 0.9; 
  transition: opacity 0.3s ease;
  position: absolute;

}
.content:hover:after{
  opacity: 0.1;
}
.content #premium img{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

 .content-main{
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 1.2rem;
  margin-top: 1.4rem;
  padding-left: 1.2rem;
 }
 .content{
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
  align-items: center;
  margin-top: 1rem;
 }
 .content h5{
  color: rgb(153, 151, 151);
  width: 8rem;
 }
 .content img{
  width: 55%;
  height: 5.5vh;
  object-fit: cover;
  color: black;
 }
 .content
 .luxury{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 4rem;
 }
 .premium{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  margin-left: -2.8rem;
 }
 .premium .tribute{
  width: 12%;
  object-fit: contain;
 }
 .select{
  display: flex;
  flex-direction: row;
  margin-left: -3.7rem;
  width: 30%;
  object-fit: cover;
  margin-top: 1rem;
 }
 .select .four-flex{
  width: 29%;
  object-fit: contain;
 }
.l-s{
  display: flex;
  flex-direction: row;
  width: 35%;
  object-fit: cover;
  margin-top: 1rem;
}
 
 .about-1{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  max-width: 120rem;
  margin: 2rem auto;
  height: 24rem;
 }
 .menu{
  width: 30%;
  padding: 0 3rem;
 }
 .about-1 #border{
  border-right: 2px solid #cac7c7;
 }
 h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-1 ul {
  list-style-type: none;
  padding: 0;
}

.about-1 li {
  margin-bottom: 0.8rem;
}

.about-1 ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-1 ul li a::after {
  content: '›'; 
  font-size: 1rem;
  color: #333; 
  margin-left: 5px; 
  text-decoration: none;
}
.about-1 ul li a:hover::after {
  text-decoration: none;
}
.about-1 ul li a:hover {
  text-decoration: underline;
}
.about-2{
  background-color: #1c1c1c;
  padding: 1rem 6rem;
}
.about-company{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.about-2-heading{
  margin-right: 3rem;
  padding-left: 2rem;
}
.about-2-heading h2{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: white;
}
.about-2-heading ul {
  list-style-type: none;
  padding: 0;
}
.about-2-heading ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(227, 226, 226);
  margin-top: 1rem;
  position: relative;
  font-weight: 500;
}
.about-2 ul li a:hover {
  text-decoration: underline;
  font-size: 0.85rem;
  color: white;
}
.top-destinations{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
}
.follow{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
}
.follow-marriott{
  padding-right: 3rem;
}
.social-sites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.copyrights{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 1.5rem;
  color: lightgray;
}
.copyrights .english{
  align-items: center;
  cursor: pointer;
}
.last-line{
  font-size: 0.9rem;
  padding: 1rem;
  color: whitesmoke;
}

@media (max-width: 1000px) {
  .search-section{
    height: auto;
  }

  .search-below-section{
    display: none;
  }

  .plan-section{
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .plan-section img{
    width: 500px;
    height: auto;
    margin: 1rem 0;
    border-radius: 16px;
  }
  
  .plan-section .text{
    margin: 0;
  }

}

@media (max-width: 768px){
  .social-cards-container{
    flex-wrap: wrap;
    height: auto;
  }

  .social-card{
    margin: 1rem 0;
    min-width: 600px;
    min-height: 800px;
  }

  .social-card p{
    font-size: 2rem;
  }

  .plan-section{
    width: 100vw;
    margin-left: 8rem;
  }

  .last-cards-container{
    flex-wrap: wrap;
    height: auto;
    font-size: 2rem;
  }

  .last-card{
    min-width: 800px;
    min-height: 600px;
    margin: 2rem 0;
  }

  .last-card-text-wrapper p{
    font-size: 2rem;
    font-weight: bold;
  }

  .last-card-text-wrapper{
    margin-top: 30rem;
    margin-left: 2rem;
    color: white;
    cursor: pointer;
  }

  .connect-section{
    flex-wrap: wrap;
    height: auto;
    margin-left: 10rem;
  }

  .card-container{
    flex-wrap: wrap;
  }

  .connect-card h3{
    font-size: 0.8rem;
  }

}

@media (max-width: 1287px){
  .bg-image .location{
    margin-left: 45rem;
    width: 29vw;
  }
  .image-info{
    width: 22.5rem;
  }
}
@media (max-width: 1244px){
  .search-container{
    margin-top: -40rem;
  }
  .bg-image{
    height: 110vh;
    padding-bottom: 2rem;
  }
  .card-section{
    padding-top: 15rem;
  }
  .bg-image .location{
    margin-left: 45rem;
    width: 27vw;
  }
  .search-button{
    width: 8rem;
    padding: 0.5rem 7.5rem;
    
  }
  .search-item{
    margin-right: -0.5rem;
  }
  .search-details input{
    font-size: 1.3rem;
  }
}
@media (max-width: 1098px){
  .join-signin{
    height: auto;
  }
  .join-options{
    width: 30rem;
  }
  .image-info{
    width: 18rem;
  }
  .bg-image{
    height: 150vh;
    margin-bottom: 14rem;
  }
  .search-item{
    margin-right: -0.8rem;
  }
  .search-button{
    width: 5rem;
    padding: 0.5rem 5rem;
    
  }
  .bg-image .location{  
    margin-left: 40rem;
    width: 29vw;
  }
  .exp-info{
    width: 18rem;
  }
  .food-img-info{
    width: 20rem;
  }
  .w-w-info{
    width: 27rem;
  }
  .hotel-deals{
    margin-top: -10rem;
  }
}
@media (max-width: 1082px){
  .join-signin{
    height: auto;
    margin-top: -10rem;
  }
  .join-options{
    width: 32rem;
  }
  
}
@media (max-width: 1056px){
  .join-signin{
    height: auto;
    margin-top: -5rem;
  }
  .join-options{
    width: 33rem;
  }
}
@media (max-width: 1046px){
  .join-options{
    width: 34rem;
  }
}
@media (max-width: 1044px){
  .search-container{
    width: 70vw;
    margin-top: -40rem;
  }
  .card-section{
    padding-top: 21rem;
  }
  .search-item {
    margin-right: 0.6rem;
    padding-right: 1.3rem;
  }
  .search-button{
    /* padding: 0.5rem 5rem;
    margin-left: 2rem; */
    display: none;
  }
   /* Show Hamburger Menu */
   .hamburger-menu {
    display: inline;
    position: absolute;
    padding-top: 0.7rem;
    padding-left: 2rem;
    margin: auto;
    /* z-index: 1; */
    height: 10vh;
  }
  .navbar .left-navbar img{
    margin-left: 2rem;
    height: 7rem;
    width: 13rem;
    padding-left: 3rem;
    
  }
  .navbar{
    height: 10vh;
  }

  /* Hide navbar content by default */
  .right-navbar .icons span {
    display: none;
  }
  .right-navbar .icons{
    padding-left: -2rem;
  }
  .right-navbar .icons i{
    font-size: 1rem;
    gap: 0.2rem;
    font-size: 1.5vw;
  }
  .right-navbar-bottom a{
    display: none;
  }
  input{
    width: 15rem;
    
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 65vw;
    justify-content: center;
    gap: -1rem;
  }
  .join{
    padding-left: 8rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1,
   .join .joinin-buttons .bt-2{
    width: 10rem;
  }
  .join-options{
    margin-top: -7rem;
  }
}
@media (max-width: 1024px){
  .bg-image{
    height: 130vh;
    margin-bottom: 4rem;
  }
  .card-section{
    padding-top: 18rem;
  }
  .bg-image .location{
    margin-left: 37rem;
    width: 32vw;
  }
  .hotel-deals{
    margin-top: 15rem;
    width: 75vw;
    height: auto;
    margin-bottom: -25rem;
    margin-left: auto;
    margin-right: auto;
  }
  .join{
    padding-left: 6rem;
    width: 36rem;
  }
  .join-signin{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  .bt-1, .bt-2{
    width: 36rem;
    padding-left: 19rem;
  } 
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.5rem;
  }
  .hotel-deals-images img{
    width: 31vw;
  }
  .arrow-button{
    display: none;
  }
  .image-info{
    width: 31vw;
  }
  .search-container{
    width: 73vw;
    padding: 0.5rem 1rem;
    margin-top: -54rem;
  }
  .search-item-logo i{
    font-size: 1.2rem;
  }
  .search-details input{
    font-size: 1rem;
  }
  .search-item {
    margin-right: 0.5rem;
    padding-right: 0.1rem;
  }
  .search-button{
    display: none;
  }
  .bg-image{
    height: auto;
    background-size: cover;
  }
  .exp{
    height: auto;
    margin-top: 8rem;
  }
 .exp-info{
  width: 18rem;
 }
  .winter-way{
    height: auto;
    width: 70vw;
    padding-right: auto;
  }
  .w-w-info{
    width: 25rem;
  }
  .w-w-img{
    box-shadow:none;
    height: auto;
  }
  .food-img-info{
    width: 18rem;
  }
  .rent{
    height: auto;
    width: 60vw;
    padding-right: auto;
    /* padding-left: -20rem; */
    margin-bottom: -32rem;
    margin-left: auto;
    margin-right: auto;
  }
  .rent-images{
    flex-wrap: wrap;
    gap: 1rem;
    width: 70vw;
    height: auto;
  }
  .rent-info-1{
    width: 18rem;
  }
  .rent-images img{
    width: 30vw;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  .rent-img{
    box-shadow:none;
    height: auto;
  }
  .app .app-img {
    height: auto;
    object-fit: contain;
    padding: 0; 
  }
  .app .app-scan{
    width: 25vw;
    margin-right: 1rem;
    object-fit: contain;
    padding: 1rem;
  }
  .career{
    width: 84vw;
  }
  .career .career-img {
    width: 20%;
  }

  .career-info {
    padding-left: 1rem;
  }

  .career-arrow {
    margin-left: 1rem;
  }
  .footer {
    flex-direction: column;
    height: auto;
    
  }
  .logos-container{
    flex-wrap: wrap;
    height: auto;
    margin: -2rem 2rem;
  }
   .content
 {
  gap: 0.2rem;
  margin-left: 2rem;
  height: auto;
 }
   .luxury, .premium, .select, .l-s{
    flex-wrap: wrap;
   }
  .about-1{
    padding: 1.2rem;
    margin: 2.8rem auto;
    gap: 0.5rem;
   }
   .menu{
    padding: 0 1.5rem;
   }
   .about-1 #border{
    border-right: 2px solid #cac7c7;
   }
   h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  .about-1 li {
    margin-bottom: 0.5rem;
  }
  
  .about-1 ul li a {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    position: relative;
    font-weight: 500;
  }
  .about-2{
    padding: 1rem 5.3rem;
  }
  .about-company{
    gap: 0.2rem;
  }
  .about-2-heading{
    margin-right: 1.2rem;
    padding-left: 0.6rem;
  }
  .about-2-heading h2{
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 1014px){
  .search-container{
    margin-top: -48rem;
  }
  .card-section{
    padding-top: 24rem;
  }
  .bg-image{
    height: 140vh;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .hotel-deals{
    height: auto;
    margin-top: 10rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.2rem;
  }
  .hotel-deals-images img{
    width: 31vw;
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 68vw;
    gap: -1rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
    width: 23rem;
  }
  .join-options{
    margin-top: -7rem;
  }
  .food{
    height: auto;
    flex-direction: column;
    padding-bottom: 2rem;

  }
  .food .food-info{
    width: 70vw;
    margin: auto;
  }
  .food-img-info{
    width: 25.4rem;
  }
  .food-img{
    width: 80vw;
  }
  .food-img img{
    width: 40vw;
  }
  .winter-way-images{
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  .w-w-info{
    width: 40vw;
  }
  .winter-way-images img{
    width: 40vw;
    height: auto;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .rent{
    height: auto;
    width: 70vw;
    padding-right: auto;
    padding-bottom: 47rem;
  }
  .rent-images{
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-button-4 {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    padding-top: -30rem;
  }
  .rent-info-1{
    width: 33vw;
  }
  .rent-images img{
    width: 33vw;
    height: auto;
    border-radius: 1.5rem;
  }
  .app{
    height: auto;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 4rem;
    margin-top: -15rem;
  }
  .app-scan img{
    width: 15vw;
    height: auto;
  }
  .app .app-scan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -0.5rem;
    gap: 1.5rem;
    width: 15vw;
  }
  .app .app-img {
    /* width: 20vw;  */
    height: 8vh;
    object-fit: cover;
    padding: 0; 
    margin-top: -3rem;
  }
  .app-img img{
    width: 20vw;
    margin-top: -6rem;
  }
}
@media (max-width: 926px){
  .bg-image .location{
    margin-left: 30rem;
    width: 34vw;
  }
}
@media (max-width: 872px){
 
  .hotel-deals{
    height: auto;
    width: 80vw;
    margin-top: 10rem;
    margin-left: 2rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 3.2rem;
  }
  .hotel-deals-images img{
    width: 33vw;
  }
  /* .rent{
    margin-bottom: -90rem;
  } */
  .search-container{
    margin-top: -49rem;
  }
  .card-section{
    padding-top: 27rem;
  }
  .bg-image{
    height: 160vh;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .bg-image .location{
    margin-left: 24rem;
    width: 39vw;
  }
  .exp-info{
    width: 28vw;
  }
  
}
@media (max-width: 840px){
  .right-navbar .icons{
    margin-right: 4rem;
    padding-right: -2rem;
    width: 10vw;
  }
  .right-navbar .icons i{
    font-size: 1rem;
    gap: 0.1rem;
    font-size: 1.7vw;
  }
  .food-img-info{
    width: 40vw;
  }
  .food-img-info span{
    font-size: 1.2rem;
  }
  .join{
    padding-left: 5rem;
  }
  .arrow-button-3{
    display: none;
  }
  .app-scan img{
    width: 10vw;
    height: 25vh;
  }
  .app .app-scan{
    width: 20vw;
    height: auto;
  }
  .join-options{
    padding-left: 3rem;
  }
  .hotel-deals-img img{
    height: 50vh;
  }
  .image-info{
    width: 33vw;
  }
  .arrow-button-1{
    display: none;
  }
}
@media (max-width: 775px){
  .location{
    margin-left: -20rem;
  }
  .bg-image{
    height: auto;
  }
  .right-navbar .icons{
    padding-left: -8rem;
  }
  .bg-image .location{  
    margin-left: 18rem;
    width: 42vw;
  }
  .card-section-info h1{
    font-size: 1.5rem;
  }
  .card-section-info p{
    font-size: 0.8rem;
  }
}
@media (max-width: 785px){
  .bg-image .location{  
    margin-left: 12rem;
    width: 48vw;
  }
  .app{
    height: auto;
    width: 45vw;
    padding: 1rem;
    margin-top: 3rem;
  }
  .app .app-img img{
    margin-top: -2rem;
  }
  .app .app-scan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  .winter-way-images img{
    width: 70vw;
  }
  .w-w-info{
    width: 34rem;
  }
  .card-section{
    padding-top: 30rem;
  }
  
  .search-container{
    margin-left: 4.5rem;
    margin-top: -50rem;
    width: 24rem;
  }
  .search-details input{
    font-size: 0.9rem;
    width: 10rem;
  }
  .search-details input{
    font-size: 0.9rem;
    width: 10rem;
  }
  .right-navbar{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .join-signin{
    flex-direction: column;
    height: auto;
    width: 85%;
    margin: auto;
    gap: -1rem;
  }
  .join .joinin-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
    width: 20rem;
  }
  .join-options{
    margin-top: -7rem;
  }
  .hotel-deals{
    width: 70vw;
    margin-top: 12rem;
    margin-left: 5rem;
    margin-bottom: -25rem;
  }
  .hotel-deals-images{
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .arrow-button{
    margin-top: -2rem;
  margin-left: 10rem;
  padding: 1rem;
  }
  .arrow-button-1{
    margin-top: -4rem;
    padding: 1rem;
    margin-left: 10rem;
  }
  .arrow-button-3{
    margin-top: -3rem;
    padding: 1rem;
    margin-left: 10rem;
  }
  .arrow-button-4{
    margin-top: -3rem;
    padding: 1.4rem;
    margin-left: -2rem;
  }
  .exp{
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
    padding-bottom: 10rem;
  }
  .exp-heading{
    margin-left: 6rem;
    padding-top: 2rem;
  }
  .exp-images{
    padding-left: 10rem;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    height: auto;
    width: 70vw;
  }
  .exp-info{
    width: 50vw;
  }

.exp-images img{
  width: 50vw;
  height: 95vh;
  border-radius: 1.5rem;
  cursor: pointer;
}
.exp-img{
  box-shadow:none;
  height: auto;
}
.arrow-button-4{
  display: none;
}
  .food{
    height: auto;
    flex-direction: column;
    margin-top: -10rem;
    padding-bottom: 2rem;
  }
  .food .food-info{
    width: 70%;
    margin: auto;
  }
  .food-img-info{
    width: 20rem;
  }
  .food-img{
    flex-direction: column;
  }
  .footer{
    height: auto;
    width: 100%;
  }
  .content-main {
    gap: 2rem;
  }

  .content {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .content h5 {
    margin-bottom: 1rem;
  }

  .content img {
    width: 4rem;
    height: 2.8rem;
  }
  .luxury, .premium, .select, .l-s{
    display: flex;
  }
  .about-2{
    padding: 1rem 5rem;
  }
  .about-company{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .top-destinations{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.5rem;
    color: white;
  }
  .copyrights{
    gap: 1.7rem;
    padding: 1rem 0.5rem;
  }
  .copyrights .english{
    display: inline-flex;
  }
}
@media (max-width: 519px){
  .right-navbar .icons i{
    font-size: 1rem;
    gap: 0.1rem;
    font-size: 1.9vw;
  }
  .bg-image .location{  
    margin-left: 8rem;
    width: 50vw;
  }
  .search-container{
    margin-left: 4rem;
    margin-top: -48rem;
  }
  .card-section-info{
    width: 70vw;
  }
  .location{
    margin-left: 10rem;
    font-size: 0.8rem;
    width: 20rem;
  }
}
  @media (max-width: 480px){
    .card-section-info{
      width: 50vw;
    }
    .search-container{
      margin-left: 6rem;
    }
    .search-details input{
      font-size: 0.8rem;
      width: 8rem;
    }
    .join-signin{
      flex-direction: column;
      height: auto;
      width: 10vw;
      justify-content: center;
      gap: -1rem;
      padding-left: -3rem;
    }
    .join{
      padding-left: 1rem;
    }
    .join .joinin-buttons{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .join .joinin-buttons .bt-1, .join .joinin-buttons .bt-2{
      width: 2rem;
    }
    .exp-images{
      padding-left: 5rem;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      height: auto;
    }
    .exp-info{
      width: 21rem;
    }
  
  .exp-images img{
    width: 80%;
    height: auto;
    border-radius: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
    .exp-info{
      width: 17rem;
      font-size: 1.2rem;
    }
  .rent-images{
    gap: 5rem;
  }
    .logos-border{
      height: auto;
      padding: 1rem 1rem;
    }
    .logos-container {
      padding: 0.5rem;
    }
  
    .content img {
      width: 3.5rem;
      height: 2.5rem;
      margin: 0.3rem;
    }
  
    .content h5 {
      font-size: 1rem;
    }
    .about-2{
      padding: 1rem 5rem;
    }
    .follow{
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1.5rem;
      flex-direction: column;
      gap: 1rem;
    }
    .follow-marriott{
      padding-right: 2rem;
    }
    .social-sites{
      gap: 1.3rem;
    }
    .copyrights{
      flex-direction: column;
      gap: 0.6rem;
    }
    .last-line{
      font-size: 0.9rem;
      padding: 1.2rem;
    }
  }
  @media (max-width: 320px){
    .search-details input{
      font-size: 0.8rem;
      width: 7rem;
    }
    .social-sites{
      gap: 0.8rem;
      flex-wrap: wrap;
    }
    .last-line{
      font-size: 0.9rem;
      padding: 1rem;
    }
  }